In [44]:
import pandas as pd
import os

file_path = r'F:\Research\Drought Thesis\Analysis\SDSM\Calibration And Validation MPI\Rainfall\New\Observed_monthly_rainfall_1981-2021.csv'

df1 = pd.read_csv(file_path)

start_date = '01/1981'
end_date = '12/2021'

date_range = pd.date_range(start=start_date, end=end_date, freq='MS')

df1.insert(0, 'Date', date_range)



df = df1.iloc[409:, :]
df.tail(1)

,Date,Barishal,Bhola,Bogra,Chandpur,Chittagong,Cox's Bazar,Cumilla,Dhaka,Dinajpur,...,Rajshahi,Rangamati,Rangpur,Sandwip,Satkhira,Sitakunda,Srimangal,Sylhet,Tangail,Teknaf
491,2021-12-01,66,67,1,126,95.0,39,164,153,5,...,1,73.0,5.0,61.0,87,66,66.0,14,38,21.0

In [45]:

df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d', errors='coerce')
#df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')
df.set_index('Date', inplace=True)

##Each Month Average Defining
monthly_avg = df.groupby(df.index.month).mean()
monthly_avg.index = monthly_avg.index.map(lambda x: pd.to_datetime(x, format='%m').strftime('%B'))

print(monthly_avg)

#Monthly Average Data Calculation
#monthly_avg = df.groupby(pd.Grouper(freq='M')).mean()

             Barishal       Bhola       Bogra    Chandpur  Chittagong  \
Date
January      9.166667   10.833333    4.833333    6.166667   11.166667
February    17.428571   14.428571   19.285714   27.000000    2.285714
March       18.428571   35.000000   28.285714   35.571429   32.142857
April      137.428571  132.857143  101.428571  153.857143  118.428571
May        192.571429  194.571429  305.428571  262.285714  209.000000
June       382.000000  428.714286  295.142857  404.000000  538.571429
July       467.000000  451.285714  380.571429  508.000000  960.571429
August     337.571429  388.285714  223.428571  414.428571  527.857143
September  262.571429  256.857143  181.428571  212.285714  348.714286
October    203.571429  197.714286  141.857143  180.857143  223.714286
November    71.000000   67.428571    0.714286   43.571429   44.000000
December    20.285714   25.857143    5.000000   37.000000   19.714286

           Cox's Bazar     Cumilla       Dhaka    Dinajpur    Faridpur  ...  \
Date                                                                    ...
January       8.833333    6.666667    4.166667    3.500000    4.333333  ...
February      1.857143   22.000000   24.000000    5.285714   19.571429  ...
March        48.428571   52.285714   33.428571   30.428571   22.285714  ...
April        89.857143  193.571429  162.285714   89.428571  113.142857  ...
May         173.857143  280.285714  246.428571  265.428571  211.000000  ...
June        789.714286  343.000000  346.571429  236.285714  263.142857  ...
July       1168.285714  557.714286  440.857143  373.142857  530.857143  ...
August      647.571429  265.285714  286.857143  368.714286  355.285714  ...
September   436.000000  282.571429  197.571429  358.714286  237.857143  ...
October     294.714286  126.857143  176.857143  148.428571  115.571429  ...
November     30.857143   48.142857   21.142857    0.428571   60.000000  ...
December     15.714286   50.142857   29.285714    3.714286   33.000000  ...

             Rajshahi   Rangamati     Rangpur      Sandwip    Satkhira  \
Date
January     10.000000   10.166667    3.666667     7.000000    6.166667
February    10.857143   18.000000    7.714286     8.000000   39.428571
March       30.285714   27.000000   44.142857    53.714286   37.000000
April       90.714286  167.428571  122.428571   163.285714   53.142857
May        176.000000  219.285714  331.428571   269.857143  158.857143
June       191.571429  613.285714  319.571429   642.142857  273.000000
July       337.000000  668.000000  441.000000  1129.714286  375.000000
August     199.428571  428.428571  341.857143   640.857143  313.142857
September  172.857143  307.857143  394.714286   522.285714  212.857143
October    116.285714  201.142857  136.285714   278.571429  149.571429
November     2.142857   45.000000    0.000000    65.142857   35.142857
December     5.571429   20.714286    2.571429    16.571429   24.714286

             Sitakunda   Srimangal      Sylhet     Tangail       Teknaf
Date
January      11.166667    9.833333    4.833333    6.000000    17.333333
February     45.714286   34.428571   39.428571   16.714286     0.142857
March        28.428571   79.000000  112.714286   25.285714    32.714286
April       184.857143  276.714286  497.571429  174.000000    57.142857
May         237.000000  427.285714  606.428571  261.714286   169.000000
June        708.000000  438.000000  779.142857  327.571429   891.428571
July       1037.285714  335.285714  716.571429  387.571429  1321.428571
August      561.428571  340.000000  638.714286  259.285714   795.714286
September   433.571429  252.571429  544.000000  184.000000   550.000000
October     219.000000  195.857143  234.000000  163.285714   235.142857
November     40.142857   43.142857   25.000000    7.571429    33.142857
December     18.571429   35.428571   21.000000   16.571429    10.428571

[12 rows x 30 columns]

C:\Users\S_PC\AppData\Local\Temp\ipykernel_18544\2336117470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d', errors='coerce')

In [46]:
output_folder = r'F:\Research\Drought Thesis\Analysis\SDSM\Calibration And Validation MPI\Rainfall\Validation'
file_name = 'Rainfall_OBS_Validation.csv'

monthly_avg.to_csv(os.path.join(output_folder, file_name))

In [70]:
import pandas as pd
import os

file_path = r'F:\Research\Drought Thesis\Analysis\SDSM\Station\Sylhet\Raw File\MPI & NorESM2\MPI-ESM1-2-HR_ssp245_BOX_034X_41Y\Original\temp_day_MPI-ESM1-2-HR_ssp245_r1i1p1f1_gr_20150101-21001231_og.csv'

df1 = pd.read_csv(file_path)

start_date = '01/01/1981'
end_date = '30/12/2010'

date_range = pd.date_range(start=start_date, end=end_date, freq='D')

df1.insert(0, 'Date', date_range)

df1.head()

df = df1

C:\Users\S_PC\AppData\Local\Temp\ipykernel_18544\306881696.py:11: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date_range = pd.date_range(start=start_date, end=end_date, freq='D')

           Date  19.957489138205744
2556 2021-12-31           20.599615

In [71]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d', errors='coerce')
#df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')
df.set_index('Date', inplace=True)

##Each Month Average Defining
monthly_avg = df.groupby(df.index.month).mean()
monthly_avg.index = monthly_avg.index.map(lambda x: pd.to_datetime(x, format='%m').strftime('%B'))

print(monthly_avg)

#Monthly Average Data Calculation
#monthly_avg = df.groupby(pd.Grouper(freq='M')).mean()

           19.957489138205744
Date
January             18.327898
February            21.496424
March               26.004793
April               29.408868
May                 31.589860
June                30.122276
July                28.853849
August              28.455350
September           27.766532
October             26.596122
November            22.682480
December            19.031020

C:\Users\S_PC\AppData\Local\Temp\ipykernel_18544\378374914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d', errors='coerce')

In [72]:
output_folder = r'F:\Research\Drought Thesis\Analysis\SDSM\Calibration And Validation MPI\Row GCM'
file_name = 'Temperature GCM Validation.csv'

monthly_avg.to_csv(os.path.join(output_folder, file_name))